@charset "UTF-8";
/*Extra extra small devices (phones, 540px and down)*/

nav.navegacao > div > a{
    font-size: 10px;
    padding: 2px 4px 4px 4px;
}
nav.navegacao > div > a:hover{
    border-bottom: none;
}
main > #sobre_mim > h2{
    margin-top: 5px;
}
main > #sobre_mim > .dis{
    margin-bottom: 30px;
}
main > #sobre_mim > .dis > .text{
    padding: 3% 2% 5% 6%;
    height: 28vw;
    font-size: 2.4vw;
}
.card{
    padding: 10px 10px 20px  10px;
}
.card > img:nth-child(3){
    height: 28vw;
    cursor: auto;
}
.content{
    margin: 30% 0 35% 60%;
    height: 205px;
    width: 240px;
}
.navigation{
    margin: -220px 0 0 0;
    
}
footer > p{
    width: 90%;
}
footer > div.dispo_contatos > div{
    height: 35vw;
    max-width: 95%;
}
@media (max-width: 400px){
    nav.navegacao > div > a{
        font-size: 10px;
        padding: 2px 4px 4px 4px;
    }
    main > #sobre_mim > .dis > .text{
    padding: 5% 2% 10% 6%;
}
    .content{
        margin: 35% 0 40% 70%;
        height: 205px;
        width: 240px;
    }
}