/*Small devices (portrait tablets and large phones, 600px and up)*/

header > div{
    min-height: 100%;
}
main > #sobre_mim > .dis{
    max-width: 100%;
}
main > #sobre_mim > .dis > .text{
    padding: 20px 20px 25px 30px;

}
footer > div.dispo_contatos > div{
    height: 30vw;
    max-width: 95%;
}
footer > div.dispo_contatos > div > div{
    font-size: 14px;
    margin: -10px;
    background: transparent;
}


