@charset "UTF-8";

/* CSS para geral/pc*/

/* Extra large devices (large laptops and desktops, 1200px and up) */

:root{
    --cor-de-fundo: #e2eede;
    --cor-cabecalho: #FFD1DE;
    --cor-div: #EED0C8;
    --cor-3: #f4c1a1;
    --cor-destaque: #A64E66;
    --cor-padrão: #3E0309;
}
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    margin: 1% 4% 0% 3%;
    color: var(--cor-padrão);
    background-color: var(--cor-de-fundo);
}
img{
    border-radius: 35px;
}
header {
    display: flex;
    max-width: 100%;
    margin: 4% 0 2% 0;
}
header > img{
    display: block;
    margin: 0;
    height: 30vw;
}
header > div{
    margin-left: 2%;
    background-color: var(--cor-cabecalho);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 9vw;
    max-height: 458px;
}
header > div > h1{
    margin: 10% 4% 1% 10%;
    font-size: 3vw;
    font-family: "Idiqlat", serif;
    font-weight: 400;
    font-style: normal;
}
header > div > h2{
    margin: 0 3% 10% 1%;
    font-size: 3vw;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.isa{
    margin-left: 10%;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 10vw;
    
}
nav{
    height: auto;
    display: flex;
    padding: 6px;
    max-width: 100%;
    border-radius: 30px;
    background-color: var(--cor-destaque);
    color: var(--cor-cabecalho);
}
nav > div{
    padding: 10px;
    display: flex;
}
nav > div > img{
    max-width: 15%;
    border-radius: 0%;
    display: block;
    margin: 0 10px 3px 3px;
}
nav.navegacao > div > a{
    font-size: 2.5vw;
    border-left: 2px solid var(--cor-cabecalho);
    padding: 15px;
    text-align: center;
    color: white;
    text-decoration: none; 
    transition: .3s;
}
nav.navegacao > div > a:hover{
    border-bottom: 4px solid var(--cor-cabecalho);
    background-color: #8a4155;
}

h2 {
    font-family: "Idiqlat", serif;
    font-weight: 400;
    font-style: normal;

}
div{
    border-radius: 35px;
}
main > picture > img.img_intro{
    width: 100%;
    margin-top: 1%;
    display: flex;
}
main > #sobre_mim > .dis{
    display: flex;
    width: 100%;
    
}
main > #sobre_mim > h2{
    margin-left: 4%;
    margin-top: 20px;
    font-size: 4vw;
}
main > #sobre_mim > img{
    border-radius: 35px;
}
main > #sobre_mim > .dis > .text{
    font-size: 2vw;
    margin: 2%;
    padding: 30px 20px 20px 20px;
    background-color: var(--cor-div);
    display: inline;
    float: left;
    width: 100%;
    height: auto;
}
main > #sobre_mim > .dis > .text > p > img{
    width: 2vw;
}


#servicos >  h2{
    margin-left: 4%;
    margin-top: 2%;
    font-size: 4vw;
}
#servicos > .dis-serv{
    color: white;
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.card{
    overflow: hidden;
    height: 30vw;
    margin: 5px;
    background-color: var(--cor-3);
    padding: 20px;
}
.card img{
    align-items: center;
    width: 27vw;
    height: 24vw;
}

.intro{
    width: 23vw;
    height: 6vw;
    padding: 8px;
    border-radius: 0 0 20px 20px;
    transition: 0.8s ease;
}
.intro h3{
    width: 100%;
    font-family: "Idiqlat", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--cor-padrão);
    margin: 10px;
    font-size: 2.8vw;
}
.intro p{
    font-size: 1.6vw;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}

.card:hover{
    cursor: pointer;
    height: 51.6vw;
}
.card:hover:nth-child(3){
    cursor: pointer;
    height: 54.5vw;
}
.card:hover p{
    visibility: visible;
    opacity: 1;
}

main > #depoimentos > h2{
    margin-left: 4%;
    margin-top: 20px;
    font-size: 4vw;
}

#depoimentos > div.disp_depo{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.content{
    margin: 290px 0 0 600px;
    height: 525px;
    width: 580px;
    border-radius: 20px;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

.content .slide img{
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
    
}

.navigation{
    margin: -240px 0 0 0;
    bottom: 160px;
    left: 650px;
    display: flex;
    
}
.bar{
    width: 10px;
    height: 10px;
    border: 2px solid var(--cor-padrão);
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
    transform: .5s ease;
}
.bar:hover{
    background-color: var(--cor-padrão);
}
.input{
    display: none;
}
.slides{
    display: flex;
    width: 500%;
    height: 100%;
}
.slide{
    width: 20%;
    transition: 1s;

}

#slide1:checked ~ .s1{
    margin-left: 0;
    
}
#slide2:checked ~ .s1{
    margin-left: -20%;
}
#slide3:checked ~ .s1{
    margin-left: -40%;
}
#slide4:checked ~ .s1{
    margin-left: -60%;
}
footer > p{
    margin: auto;
    width: 100%;
    border-radius: 35px;
    font-size: 6vw;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: var(--cor-destaque);
    color: var(--cor-cabecalho);
    padding: 10px;
    text-align: center;
}
footer >  h2{
    margin-left: 40px;
    margin-top: 20px;
    font-size: 4vw;
}
footer > div.dispo_contatos > div > div{
    max-width: 100%;
    min-width: 95%;
    display: flex;
    flex-direction: row;
    padding: 25px;
    margin-bottom: 20px;
}
footer > div.dispo_contatos > div> div > a{
    margin: 4px;
    height: 2vw;
    font-size: 2.5vw;;
    color: var(--cor-padrão);
    cursor: pointer;
}
footer > div.dispo_contatos > div > div > a:hover{
    background-color: var(--cor-div);
    border-bottom: none;
}
footer > div.dispo_contatos > div> div > img{
    display: block;
    width: 4vw;
    height: 4vw;
    border-radius: 0;
    margin-top: -10px;
}
footer > div.dispo_contatos > img{
    width: 100%;
    margin-bottom: 30px;

}






