*{
    margin: 0;
    padding: 0;
    border-radius: 30px;
}
body{
    width: 100%;
}
img{
    width: 50%;
    display: block;
}
div.mae{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    
}