@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    margin: 5%;
    color: rgb(2, 31, 9);
    background-color: blanchedalmond;
}
div{
    background-color: rgb(42, 165, 89);
    padding: 20px;
    border-radius: 20px;

}
main{
    display: flex;
    width: 100%;
    margin: 4% 0 4% 0;
}
.aa{
    margin-left: 20px;
}
img{
    border-radius: 20px;
    display: block;
    margin: 0;
}